
@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border : none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', serif;
}

:root{
    --bg-color : #081b29;
    --second-bg-color : #112e42;
    --text-color : #ededed;
    --main-color:#00abf0;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


.header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 6%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header nav a:focus{
    color: var(--main-color);
}

.header-project{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 6%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

section {
    min-height: 100vh;
    padding : 1rem 9% 2rem;
}


.footer-sci{
    position: absolute;
    bottom: 100px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size:2.5rem;
    color:var(--text-color);
    text-decoration: none;
    font-weight:600;
}

.navbar a{
    font-size:1.7rem;
    color:var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left:3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a:focus{
    color:var(--main-color);
}


#menu-icon{
    font-size:3.6rem;
    color:var(--text-color);
    cursor:pointer;
    display:none;
}

.accueil {
    font-size:25px;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 9%;
    line-height: 1.5;
    background-image: url(../images/Cover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.accueil-content {
    max-width: 60rem;
}

.accueil-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.accueil-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    -webkit-text-stroke : .10px var(--main-color);
}

.accueil-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.accueil-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.accueil-content .btn-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15rem;
    width: 345px;
    height: 50px;
}

 .accueil-sci {
     position: absolute;
     bottom: 70px;
     width: 170px;
     display: flex;
     justify-content: space-between;
 }

.accueil-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap:5rem;
    background-color: transparent;
    border:2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.accueil-sci a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.accueil-sci a:hover::before{
    width: 100%;
}

.accueil-sci a:hover{
    color: var(--bg-color);
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap:10px;
    width: 40rem;
    height: 5rem;
}
#contact-btn{
    width: 25rem;
}

.btn-box{
    display: flex;
    justify-content: space-between;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    background-color: var(--bg-color);
    border :2px solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background-color: var(--main-color);
    color: var(--bg-color)
}

.btn-box a:nth-child(2):hover{
    color: var(--main-color);
}
.btn-box a:nth-child(1):hover{
    color: var(--bg-color);
}

.btn-box a:nth-child(2)::before{
    background-color: var(--bg-color);
}

.btn-box a::before{
    content:'';
    position:absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before{
    width: 100%;
}

.accueil-presentation{
    display: flex;
    align-items: center;
    padding: 5%;
    line-height: 1.5;
}
.accueil-presentation h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.accueil-presentation-content {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2;
}

/*-------------------ABOUT-------------------*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--second-bg-color);
}

.heading{
    font-size: 5rem;
    padding-top: 7rem;
    margin-bottom: 7rem;
    text-align:center;
}

.about-img{
    position: relative;
    width: 40rem;
    border-radius: 50%;
    margin-right: 10rem;
    bottom : 5rem;
    display: flex;
    align-items: center;
}

.about-img img{
    width :100%;
    border-radius: 50%;
}

span {
    color : var(--main-color);
}

.composantes-essentielles{
    font-size: 2rem;
    margin-bottom: 5rem;
    padding-left: 10rem;
}
.about-content{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.me-box{
    flex:1 1 40rem;
    margin: 0 10px;
}


.about-content h3 {
    font-size: 4rem;
}

.about-content p{
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display : inline-flex;
    width: 15rem;
}

.btn-box.btns a::before{
    background-color: var(--main-color);
}

/*---------------------FORMATION-------------------*/

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap:5rem;
}

.education .education-column{
    flex:1 1 40rem;

}

.education-column .title{
    font-size: 3rem;
    margin : 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--text-color);
}

.education-box  .education-content{
    position: relative;
    padding-left: 3rem;
}

.education-box  .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left : -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--text-color);
    border-radius: 50%;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left : 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content{
    position: relative;
    padding : 1.5rem;
    border : .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year .i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 3rem;
    color: var(--text-color);
}

.education-content .content p{
    font-size: 1.6rem;
    padding-bottom : .5rem;
}

/*---------------------PROJECTS-------------------*/

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.projects h3 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.projects-info {
    font-size: 2rem;
    margin : 0 9%;
    text-align: center;
}

.projects-info a{
    color: var(--main-color);
    bottom: 7rem;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
}

.projects-info a:hover{
    color: var(--main-color);
    position: absolute;
    display: inline-block;
    padding-bottom: .5rem;
    border-bottom: .2rem solid var(--main-color);
    transition: .5s;
}

.projects-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:5rem;
    width: 100%;
    height: auto;
}

.projects-box {
    position: relative;
    flex:0 0 auto;
    width: 30rem;
    height: 40rem;
    border-radius: 16px;
    border : .2rem solid var(--main-color);
    background-color: var(--second-bg-color);
    overflow: hidden;
    margin: 0 15px;
}

.projects-box:hover{
    transform: scale(1.05);
    transition: .5s;
    box-shadow: #03141e 0px 0px 9px 0px;
}

/*---------------------CONTACT-------------------*/

.contact {
    min-height :auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width : 70rem;
    margin : 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin : .8rem 0;
}
.contact form .focus {
    position: absolute;
    top : 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .input-box .input-field input, .contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding : 1.5rem;
    font-size: 1.6rem;
    color:var(--text-color);
    background-color: transparent;
    border-radius: .6rem;
    border : .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color : var(--text-color);
}

.contact form .textarea-field {
    position: relative;
    margin : .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-box.btns btn {
    cursor: pointer;
}

/*---------------------FOOTER-------------------*/

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background : var(--main-color);
    border : .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a:before{
    content: '';
    position: absolute;
    top: 0;
    left : 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before{
    font-size: 2.4rem;
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

.footer-iconTop a:hover i{
    color: var(--main-color);
}

/*---------------------PROJET1-------------------*/

#kika {
    padding-top: 10rem;
}
.skills{
    padding-top: 10rem;
    background-color: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap : wrap;
    gap:5rem;
}

.skills .skills-column{
    flex:1 1 40rem;
    margin-bottom: 10rem;
}

.skills-column .title{
    font-size: 5rem;
    margin : 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 2.3rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border : .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    border-radius: .3rem;
    transition: .5s;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 77%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width:80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 40%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 65%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 75%;
}

.project-description-content {
    min-height: auto;
    width: 123vh;
    padding : .2rem;
    line-height: 3rem;
}

.project-description-text{
    font-size: 2rem;
    margin-bottom: 5rem;
}

.project-description-text h3 {
    font-size: 4rem;
    margin-bottom: 3.4rem;
}

.project-description-text p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/*---------------------PROJET2-------------------*/

.project-description-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.project-description-img p {
    font-size: 2rem;
}
.project-description-img img {
    margin-bottom: 4rem;
    max-width: 100%;
    height: auto;
}

.project-description-img img:hover{
    transform: scale(1.0);
    transition: .5s;
    box-shadow: var(--second-bg-color) 0px 0px 9px 0px;
}

.project-description-vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width: 100%;;
}

.project-description-vid video {
    border-radius: 30px
}
.project-description-vid video:hover{
    transform: scale(1.0);
    transition: .5s;
    box-shadow: var(--second-bg-color) 0px 0px 9px 0px;
}

/*---------------------PROJET KIKARASEL-------------------*/

.but-text {
    max-width: 160rem;
    font-size: 1.6rem;
    margin: 4rem;
    padding : 0 6rem ;
}

.composantes-essentielles-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.composantes-essentielles-content img {
    max-width : 50%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 4rem;
}
.composantes-essentielles-img-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
}
p a, .composantes-essentielles-img-content a {
    text-decoration: none;
    color: #ededed;
    font-size: 2rem;
}

p a:hover, .composantes-essentielles-img-content a{
    color: var(--main-color);
    transition: .5s;
}

.img-content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0 5rem;
}

#img-content-row{
    display: flex;
    flex-direction: row;
}
.portfolio-apprentissage-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolio-apprentissage-content a{
    font-size: 4rem;
    text-decoration: none;
    color: #ededed;
    background-color: #081b29;
    border-radius: 16px;
    padding:5rem;
}

.portfolio-apprentissage-content a:hover{
    color: var(--main-color);
    transition: 0.5s;
}


.portfolio-apprentissage {
    max-height: 100vh;
}